body{
    background-color: #dfdfdf;
}
.box {
    display: block;
    width: 800px;
    height: 600px;
    padding: 30px 50px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: rgb(102, 102, 102);
}
.box_name {
    display: block;
    width: 150px;
    height: 150px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: rgb(102, 102, 102);
    text-align: center;
}
.box_question {
    display: block;
    width: 330px;
    height: 150px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: rgb(102, 102, 102);
}
.box_info {
    display: block;
    width: 550px;
    height: 300px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: rgb(102, 102, 102);
}
.box_text {
    display: block;
    width: 550px;
    height: 300px;
    padding: 20px 50px 20px;
    padding-top: 70px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: rgb(102, 102, 102);
}